---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { css } from "~/styled-system/css";
import { hstack } from "~/styled-system/patterns";
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- Navbar -->
		<nav
			class={hstack({
				position: "fixed",
				w: "100%",
				justifyContent: "space-between",
				paddingX: "4",
				paddingTop: "4",
			})}
		>
			<h1
				class={css({
					color: "primary",
					fontWeight: "bold",
				})}
			>
				Company Name
			</h1>
			<div>
				{
					["Features", "Pricing", "Blog"].map((i) => {
						return (
							<a
								href="#"
								class={css({
									color: "primary",
									marginLeft: "4",
									textDecoration: "none",
								})}
							>
								{i}
							</a>
						);
					})
				}
			</div>
		</nav>

		<div
			class={css({
				display: "flex",
				justifyContent: "center",
				alignItems: "center",
				height: "100vh",
			})}
		>
			<div
				class={css({
					display: "flex",
					flexDirection: "column",
					alignItems: "center",
					textAlign: "center",
				})}
			>
				<h2
					class={css({
						color: "primary",
						fontSize: "5xl",
						fontWeight: "bold",
					})}
				>
					Welcome to Astro
				</h2>
				<p>
					We are so excited to have you here. We are a company that does things.
				</p>

				<div class={css({ marginTop: "8" })}>
					<a
						href="#"
						class={css({
							backgroundColor: "teal.800",
							color: "white",
							paddingX: "4",
							paddingY: "2",
							borderRadius: "4",
							textDecoration: "none",
							rounded: "md",
						})}
					>
						Get Started
					</a>
				</div>
			</div>
		</div>
	</main>
</Layout>
